@use 'variables';
@import '~@angular/material/theming';
@import 'state.theme';

@mixin theme($theme: variables.$dark-theme, $hue: variables.$hue) {
	$active-hue: map-get($hue, active);
	$checked-hue: (
		default: $active-hue,
		hover: $active-hue,
		active: $active-hue
	);

	.mat-button-toggle-group {
		border-radius: variables.$border-radius;
		.mat-button-toggle {
			@include define-states($theme, $hue);
		}
		.mat-button-toggle-checked {
			@include define-states($theme, $checked-hue);
		}
	}
}
