@use 'variables';
@import '~@angular/material/theming';
@import 'state.theme';

@mixin grid-theme($theme: variables.$dark-theme, $hue: variables.$hue) {
	$active-hue: map-get($hue, active);
	$selected-hue: (
		default: $active-hue,
		hover: $active-hue,
		active: $active-hue
	);

	.mat-grid-list {
		.mat-grid-tile {
			cursor: pointer;
			@extend .mat-elevation-z2;
			@include default-state-theme;
			&:hover {
				@extend .mat-elevation-z6;
			}
			&:active {
				@extend .mat-elevation-z8;
			}
		}
	}
}
