@use 'variables';
@import 'theme';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	@include button-toggle-theme();
	@include grid-theme();
	@include toolbar-theme();

	@each $selector in variables.$selectors {
		$excluded-selector: zip(variables.$excluded-selectors, $selector);
		#{ $selector }:not(#{ $excluded-selector }) {
			@include default-state-theme;
		}
	}
}

@include scrollbar-theme(0.5rem, 0.2rem);
