@use 'variables';
@import 'theme';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	@include background-theme();
	@include button-theme();
	@include button-toggle-theme();
	@include editor-theme();
	@include grid-theme();
	@include list-theme();
	@include toolbar-theme();
}

* {
	@include scrollbar-theme(0.5rem, 0.2rem);
}
.thin-scrollbar {
	@include scrollbar-theme(0.2rem, 0.2rem);
}
