$white-color: #ffffff;
$black-color: #000000;
$light-blue: #1991eb;
$meduim-blue: #2a6bb8;
$primary-color: #3f51b5;
$title-color: #43485c;
$error-color: #ed1c24;
$error-background-color: #fffae7;
$success-color: #11e735;
$disabled-title-color: #78869e;
$disabled-bg-color: #f6f6f6;
$scrollbar-thumb-color: #c4c4c4;
$scrollbar-track-color: #f1f1f1;

$header-height: 3rem;
$section-height: calc(100% - #{ $header-height });