@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($primary, $accent, $warn);

$white-color: #ffffff;
$black-color: #000000;
$primary-dark-color: mat-color($primary, 900);
$primary-light-color: mat-color($primary, 50);

$black-active-color: rgba($black-color, 0.2);
$black-hover-color: rgba($black-color, 0.4);

$info-color: mat-color(mat-palette($mat-blue), 400);
$success-color: mat-color(mat-palette($mat-green), 400);
$warning-color: mat-color(mat-palette($mat-yellow), 400);
$error-color: mat-color(mat-palette($mat-red), 400);

$scrollbar-track-color: $primary-light-color;

$hue: (
	default: 500,
	hover: 700,
	active: 900
);
$scrollbar-hue: (
	default: 200,
	hover: 500,
	active: 900
);
$toolbar-hue: (
	default: 500,
	hover: 600,
	active: 600
);

$header-height: 4rem;
$section-height: calc(100% - #{$header-height});
$border-radius: 0.33rem;

$selectors: 'button' '.mat-button' '.mat-raised-button' '.mat-flat-button' '.mat-icon-button' '.mat-stroked-button' '.mat-fab'
	'.mat-mini-fab';
$excluded-selectors: '.editor-container';
