@import '~@angular/material/theming';

@function wrap-string($string) {
	@return ':not(' + $string + ')';
}

@function multiply-string-to-list-join($list, $string, $seperator1: ', ', $seperator2: ' ') {
	$value: '';
	@each $i in $list {
		$new-value: $i + $seperator2 + $string;
		@if $value == '' {
			$value: $new-value;
		} @else {
			$value: $value + $seperator1 + $new-value;
		}
	}
	@return wrap-string($value);
}

@function multiply-lists-join($list1, $list2) {
	$value: '';
	@each $i in $list1 {
		$new-value: $i + multiply-string-to-list-join($list2, $i);
		@if $value == '' {
			$value: $new-value;
		} @else {
			$value: $value + ', ' + $new-value;
		}
	}
	@return $value;
}

@function list-join($list, $seperator: ',') {
	$value: '';
	@each $i in $list {
		@if $value == '' {
			$value: $i;
		} @else {
			$value: $value + $seperator + $i;
		}
	}
	@return $value;
}

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($primary, $accent, $warn);

$white-color: #ffffff;
$black-color: #000000;
$primary-dark-color: mat-color($primary, 900);
$primary-light-color: mat-color($primary, 50);

$black-active-color: rgba($black-color, 0.2);
$black-hover-color: rgba($black-color, 0.4);

$info-color: mat-color(mat-palette($mat-blue), 400);
$success-color: mat-color(mat-palette($mat-green), 400);
$warning-color: mat-color(mat-palette($mat-yellow), 400);
$error-color: mat-color(mat-palette($mat-red), 400);

$scrollbar-track-color: $primary-light-color;

$hue: (
	default: 500,
	hover: 700,
	active: 900
);
$scrollbar-hue: (
	default: 200,
	hover: 500,
	active: 900
);
$toolbar-hue: (
	default: 500,
	hover: 600,
	active: 600
);

$header-height: 4rem;
$section-height: calc(100% - #{$header-height});
$border-radius: 4px;

$button-selectors: '.mat-button' '.mat-raised-button' '.mat-flat-button' '.mat-icon-button' '.mat-stroked-button' '.mat-fab' '.mat-mini-fab';
$excluded-button-selectors: '.editor-container' '.mat-button-toggle-group';
$joined-button-selectors: list-join($button-selectors);
